<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>GATEWAY NAPS</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
         integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
         crossorigin="anonymous">
      <link
         href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         rel="stylesheet" id="bootstrap-css">
      <script
         src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script
         src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!------ Include the above in your HEAD tag ---------->
      <link rel="stylesheet"
         href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .dialog {
         display : none;
     }
    @media (max-width: 768px) {
    
    .card-body {
      font-size: 14px;
    }
    .subscribe {
		display: block;
	    width: 100% !important;
	    margin: 5px 0;
	}
   .mobile-hide {
        display: none;
    }
  }

  @media (max-width: 576px) {
   
    .card-body {
      font-size: 14px;
      }
     .subscribe {
		display: block;
	    width: 100% !important;
	    margin: 5px 0;
	}
	 .mobile-hide {
        display: none;
    }
    }
  </style>
   </head>
   <body>
	  <div class="container">
         <br>
         <div class="row">
            <aside class="col-sm-12">
            <article class="card">
               <div class="card-body p-2">
                  <img th:src="@{/images/powered_by_naps.png}" alt="Image" style="float:right;width:80px;margin-right:0px;" >
               </div>
               <!-- card-body.// -->
            </article>
            <!-- card.// -->
         </div>
         <br>
         <div class="row">
            <aside class="col-sm-12">
            <article class="card">
               <div class="card-body p-5">
                   <p class="alert alert-danger text-center" th:if="${demandeDto == null}">Votre session de paiement a expiré. Veuillez réessayer. </p>
                   <p class="alert alert-danger text-center" th:if="${demandeDto != null and demandeDto.getMsgRefus != null}" th:utext="${demandeDto.getMsgRefus}"></p>
                   <form role="form" method="POST" th:action="@{/retour}" th:object="${demandeDto}">
					  <div class="form-group row">
						 <div class="col-sm-12 float-right">
							<button type="submit" style="color: #FFF;background: #DF6537;
							   border-radius: 10px;
							   margin-left: auto;
							   width: 160px;
							   border-color: #DF6537;
							   border-top-right-radius: 10px;
							   border-bottom-right-radius: 10px;
							   font-size: 15px;"
							   class="subscribe btn btn-primary btn-block">Quitter la page
							</button>
						 </div>
					  </div>
					</form>
               </div>
               <!-- card-body.// -->
            </article>
            <!-- card.// -->
         </div>
      </div>
      <script type="text/javascript">              
      </script>
   </body>
</html>